* {
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    justify-content: center;
}
.searchTag {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
}
input {
    width: 200px;
    margin: 20px;
}
#discription {
    text-align: justify;
}